//anidacion
//global//
header {
    .logo {
        position: relative;
        left: 40px;
        bottom: 5px;
    }
    .logo img {
        height: 90px;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        
        max-width: 992px;
        margin: 0 auto;
    }
    .nav-menu {
        display: flex;
        margin-right: 40px;
        list-style: none;
    }
    .nav-link {
        color:rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 700;
        margin: 0 10px;
        padding: 7px 13px;
        line-height: 80px;
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        width:max-content;
    }
    .nav-link:hover {
        background-color: rgba(146, 146, 146, 0.608);
        color: #ffbf00;
    }
    .nav-toggle {
        display:none;
        color: #fff;
        background: none;
        border: none;
        font-size: 30px;
        padding : 0 20px;
        line-height: 60px;
    }
}
.pie-de-pagina {
    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
    section{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 150px;
        border-radius: 50px;
    }
    .box h2{
        color:#e2f1f8;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .box p{
        color:#e2f1f8;
        margin-bottom: 10px;
    }
    .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
    }
    .grupo-2{
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    .grupo-2 small{
        font-size:15px;
    }
}
//index//
.burger {
    .swiper {
        width: 100%;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 250px;
    }

    .swiper-slide img {
        display:block;
        width: 100%;
    }
}
.btn-menu {
    h1{
        color:rgb(255, 0, 0);
        font-weight:700;
        font-size: 35px;
    }
    a {
        text-decoration: none;
        color:red;
    }
    .btn{
        background: #fff;
        color:rgb(250, 49, 66);
        border:none;
        border-radius: 5px;
        width: 90px;
        padding: 10px;
        font-weight: 700;
        font-size: 14px;
    }
    .btn:hover {
        background: grey;
        color:rgb(246, 117, 128);
        
    }
}
.container {
    .about-us {
        border: 3px solid rgb(244, 84, 26);
        
        
        h2 {
            color:#f45;
            font-weight: 700;
            font-size: 50px;
        }
        p {
            color:#ffbc0e;
        }
    }
    .locate {
        border: 3px solid rgb(244, 84, 26);
        grid-row: 2;
        grid-column: 2;
    
        h2 {
            color:#f45;
            font-weight: 700;
            font-size: 50px;
        }
        p {
            color: #ffbc0e;
        }
    
        .map iframe {
            position: relative;
            top: 50px;
            width: 100%;
        }
        }
}
//menu//
.nuestro-menu {
    h2 {
        font-size: 30px;
        font-weight: 700;
        color:#f8bc07;
    }
    p {
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
    }
}
.title-burger { //comparte clase con menupremium//
   h1{
        font-size: 100px;
        font-weight: 700;
        text-transform: uppercase;
        color:rgb(248, 0, 0);
    }
}
.container {
    .card {
        text-align: center;
        background-color: #ffbc0e;
    }
    .card-name {
        border-bottom: 2px solid rgb(252, 0, 21);
            h6 {
                font-size: 35px;
                font-weight: 1000;
                color:#ff6702;
            }
    }
    .content {
        .title {
            font-size: 20px;
            color: rgb(0, 0, 0);
        }
        .list {
            padding: 15px;
            border-bottom: 2px solid red;
            text-decoration: underline;
        }
        .prices {
            position: relative;
            left: 60px; 

            table {
                border-spacing: 10px;
            }
        }
    }
    .action {
        position: relative;
        left: 70px;
        padding: 10px;
        background-color: rgb(252, 0, 21);
        width: 50%;
        
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    .action:hover {
        background: black;
    }
}
//contacto//
.container-form {
    h2 {
        margin-bottom: 15px;
        font-size: 40px;
        color: red;
    }
    p {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 30px;
        color:#dbdbdb;
    }
    a {
        font-size: 17px;
        display: inline-block;
        text-decoration: none;
        width: 100%;
        margin-bottom: 15px;
        color: rgb(81, 81, 81);
        font-weight: 700;
    }
    i {
        color:rgb(255, 60, 0);
        margin-right: 10px;
    }
    .campo, textarea{
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid #dbdbdb;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px;
    }
    textarea {
        width: 518px;
        height: 100px;
    }
    .btn-enviar {
        padding: 15px;
        font-size: 16px;
        border: none;
        outline: 0px;
        background-color: rgb(230, 49, 18);
        color: white;
        border-radius: 20px;
        cursor: pointer;
        transition: all 300ms ease;
    }
}