@use './anidacion';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');

//Variables//
$color-fondo:rgb(0, 0, 0);
$color-header:rgb(192, 12, 12);
$color-footer:rgb(192, 12, 12);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
   font-family:'Titillium Web', sans-serif;
   background:$color-fondo;
}

header {
    background-color:$color-header;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.nuestro-menu{
    position: relative;
    padding: 80px;
    margin-top: 25px;
    height: 40px;
    text-align: center;
}
.title-burger {
    display: flex;
    margin-bottom: 2%;
    margin-top: 4%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 70px;
}
.container {
    display: grid;
    position: relative;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.pie-de-pagina{
    width: 100%;
    margin-top: 30px;
    background-color:$color-footer;
}   
.pie-de-pagina .grupo-1 .red-social a:hover{
    color:#ffbc0e;
 }
.pie-de-pagina .grupo-1 .box img:hover{
    transform: scale(1.2);  
}
@media (max-width: 768px) {
    body {
        padding-top: 70px;
        margin: 0;
    }
    .logo img {
        height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: rgb(77, 76, 76);
        position:fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0;

        height: 40%;
        line-height: 70px;
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
        z-index: 100;
    }
    .nav-link {
        font-weight: 700;
        font-size: 100px;
        border-bottom: 2px solid coral;
    }
    .nav-link:hover {
        background: none;
        color:#fff;
    }
    header .nav-toggle {
        display: block;
    }
    .nav-menu_visible {
        left: 0;
    }
    .nuestro-menu {
        position: relative;
        bottom: 70px;
        margin-left: 30px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin-left: 20px;
    }
    .pie-de-pagina {
        .grupo-1 {
            gap: 1%;
        }
    }
}
@media (max-width: 560px) {
    body {
        margin: 0;
    }
    .nuestro-menu {
        margin-bottom: 50px;
    }
    .title-burger {
        h1 {
            font-size: 120px;
        }
    }
}

@media (max-width: 420px) {
    * {
        margin: 0;
        padding: 0;
        
    }
    header{
        width: 100%;
        
        img {
            width: 100px;
        }
    }
    .nuestro-menu {
        justify-content: stretch;
        h2 {
            font-size: 25px;
        }
        p {
            font-size: 14px;
        }
    }
    .title-burger {
        h1 {
            font-size: 80px;
        }
    }
    .container {
        .card {
            width: 280px;
            overflow-x: hidden;
            img {
                width: 280px;
                margin-right: 30px;
            }
        }
        .prices {
            thead{
                position: relative;
                right: 10px;
            }
            tbody {
                position: relative;
                right: 10px;
            }
        }
    }
}